asgiref==3.11.1
Django==5.2.15
sqlparse==0.5.5
tzdata==2026.2
python-dotenv
gunicorn
whitenoise
xhtml2pdf
psycopg2-binary
djangorestframework
django-storages
boto3
dj-database-url
django-allauth[socialaccount]

django-ical==1.9.2
google-generativeai
